@import 'src/style/colorVariables';

.button {
  color: $fontWhite;
  background: $green;
  height: 2.4rem;
  padding: 0 2.8rem;
  border-radius: 0.31rem;
  border: none;
  font-size: 0.94rem;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    outline: 0.125rem solid $fontWhite;
  }

  &:active {
    color: $blue;
    background: $fontWhite;
  }
}
