@import 'src/style/colorVariables';
@import 'src/style/media';

.list {
  display: flex;
  align-items: center;

  .item {
    text-decoration: none;
    margin: 0 18px;
    color: $fontWhite;
    font-weight: 600;
  }
}

