@import 'src/style/colorVariables';
@import 'src/style/media';

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 38px;

  .item {
    display: flex;
    margin: 0;
    padding: 0;
    border-radius: 15px;
    cursor: pointer;
    width: 560px;
    height: 450px;

    .image {
      border-radius: 15px;
      width: 100%;
      height: 100%;
    }

    .textBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      background: $blue;
      width: 100%;
      height: 100%;

      .title {
        color: $fontWhite;
      }

      .text {
        color: $fontWhite;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 128px;
  }
}

@media screen and (max-width: $xs) {
  .list {
    .item {
      width: 335px;
      height: 260px;
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 25px;
      margin-bottom: 45px;
    }
  }
}

@media screen and (min-width: $xs) and (max-width: $xm) {
  .list {
    .item {
      width: 355px;
      height: 290px;
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 25px;
      margin-bottom: 45px;
    }
  }
}

@media screen and (min-width: $xm) and (max-width: $xl) {
  .list {
    .item {
      width: 385px;
      height: 310px;
    }

    .buttons {
      display: none;
    }
  }
}

@media screen and (min-width: $xl) {
  .list {
    .item {
      width: 385px;
      height: 310px;
    }

    .buttons {
      display: none;
    }
  }
}
